/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    font-family: 'Raleway', sans-serif;
}

.btn {
    cursor: pointer;
    background: rgba(14, 46, 58, 1);
    color: #e6e6e6;
    font-family: 'Raleway', sans-serif;
    &:hover {
        background: rgba(14, 46, 58, .9)
    }
}

.mg-top-30 {
    margin-top: 30px;
}